<script src='https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js'></script>

<div>
    <canvas name='Example Basic Bar Chart' id='7d663760-21f0-451a-9f51-c06d5b369b8d'></canvas>
</div>
<script>
    require.config({
        paths: {
            chartjs: 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min'
        }
    });

    require(['chartjs'], function(Chart) {
        const ctx = document.getElementById('7d663760-21f0-451a-9f51-c06d5b369b8d').getContext('2d');
        new Chart(ctx,{ type: 'bar', data: {
    'datasets': [
        {
            'data': [
                1,
                1.9167,
                11.8333,
                29.5
            ],
            'label': 'Orbit Duration (Earth Years)',
            'backgroundColor': 'rgba(255, 99, 132, 0.2)',
            'fill': false,
            'borderColor': 'rgba(255, 99, 132, 1)',
            'borderWidth': 1
        }
    ],
    'labels': [
        'Earth',
        'Mars',
        'Jupiter',
        'Saturn'
    ]
}, options: {
    'xAxes': [
        {
            'ticks': {
                'beginAtZero': true
            }
        }
    ],
    'yAxes': [
        {
            'ticks': {
                'beginAtZero': true
            }
        }
    ]
} });
    });
</script>