<header id="header">
    <div class="content_1280"> <a href="/" class="logo small"><img
                src="/images/Logo-small.svg"
                alt="Matatika Staging"
                data-lazy-src="/images/Logo-small.svg"
                class="lazyloaded" data-was-processed="true"><noscript><img
                    src="/images/Logo-small.svg"
                    alt="Matatika Staging" /></noscript></a>
        <div class="leftBorder">
            <div class="breadcrumb desktop animate fadeIn animateMe">
                <div id="breadcrumbs"><span><span class="breadcrumb_last"
                            aria-current="page">Documentation</span></span>
                </div>
            </div>
        </div>
    </div>
</header>