<header id="header">
    <div class="content_1280">
        <a href="/" class="logo small"><img src="{{site.baseurl}}{{site.logo}}" alt="Matatika"><noscript><img
                    src="{{site.baseurl}}{{site.logo}}" alt="Matatika" /></noscript></a>
        <div class="leftBorder">
            <div class="breadcrumb desktop animate fadeIn animateMe">
                <div id="breadcrumbs"><span><span class="breadcrumb_last"
                            aria-current="page">Documentation</span></span>
                </div>
            </div>
        </div>

        <div class="js-main-nav-trigger" style="visibility: hidden;" data-text-toggle="Hide">
            Show Menu
        </div>
        <div class="hamburger hamburger--spin res-nav-link">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </div>


    </div>
</header>