
#header {
    display: none;
}

.site-footer {
    display: none;
}

@media (min-width: 50rem) {
    #header {
        display: block;
    }
}

.side-bar {
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f6fa;
}
@media (min-width: 50rem) {
    .side-bar {
        top: 80px;
        flex-wrap: nowrap;
        position: absolute;
        width: 186px;
        height: 100%;
        flex-direction: column;
        border-right: 1px solid #eeebee;
        align-items: flex-end;
    }
}
@media (min-width: 66.5rem) {
    .side-bar {
      width: calc((100% - 1320px) / 2 + 186px);
      min-width: 186px;
    }
}

@media (min-width: 50rem) {
    .navigation, .site-header, .site-footer {
        width: 186px;
    }
    .site-header {
        display: none;
    }
    .main-content {
        top: 80px;
        position: relative;
        max-width: 800px;
        margin-left: 186px;
    }
}
@media (min-width: 66.5rem) {
    .main-content {
        margin-left: calc((100% - 960px) / 2 + 186px);
    }
}

// button outline states
.btn:focus {
        box-shadow: 0 0 0 3px rgba($color: $matatika-default, $alpha: 0.5);
}

.btn:focus:hover {
        box-shadow: 0 0 0 3px rgba($color: $matatika-default, $alpha: 0.5);
}

// header stuff

#header {
    box-sizing: border-box;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,.15);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 200;

    div {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
    }

    .content_1280 {
        max-width: 1280px;
        margin: 0 auto;
        position: relative;
        padding: 8px 0;
    }

    .logo.small {
        width: 150px;
        display: inline-block;
    }

    .logo img, .logo.small img{
        display: block;
        margin: 0;
        width: 100%;
    }

    .leftBorder {
        margin-left: 16px;
        padding-left: 14px;
        border-left: #EE7A34 solid 1px;
        color: #EE7A34;
        font-weight: 600;
        min-height: 26px;
    }
}